<md-content>
    <md-toolbar class="md-warn">
        <h1>{{add.teachername}}</h1>
    </md-toolbar>
</md-content>

<md-button class="md-raised md-primary" ng-click="add.showhide();">Add Student</md-button>

<section ng-show="add.show">

<md-input-container>
    <label>Student Name</label>
    <input type="text" ng-model="add.name">
</md-input-container>

<md-input-container>
    <label>Roll Number</label>
    <input type="number" ng-model="add.roll">
</md-input-container>

<md-input-container>
    <label>Email</label>
    <input type="email" ng-model="add.email">
</md-input-container>

<md-input-container>
    <label>Password</label>
    <input type="password" ng-model="add.password">
</md-input-container>

<md-input-container>
    <label>Class</label>
    <input type="number" ng-model="add.class">
</md-input-container>

<md-button class="md-primary" ng-click="add.done();">Done</md-button>

</section>



<table border="1" cellpadding="5">
    <tr>

        <th>Student Name</th>
        <th>Roll Number</th>
        <th>Email</th>
        <th>Password</th>
        <th>Class</th>
    </tr>
    <tr ng-repeat="item in add.store">
        <td>{{item.name}}</td>
        <td>{{item.roll}}</td>
        <td>{{item.email}}</td>
        <td>{{item.password}}</td>
        <td>{{item.class}}</td>
        <td><button>give task</button></td>
    </tr>
</table>
